.hver {
  color: white;
  font-family: "Nunito", sans-serif;
  padding-right: 10%; }

.hver1:hover {
  text-decoration: underline;
  text-decoration-color: #da585c; }

.pr {
  padding-right: 5%; }

.s-cat {
  margin-top: 10%; }
  .s-cat h3 {
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    color: #da585c;
    padding-bottom: 3%; }

.s-cart {
  background-color: #fbeeef;
  height: 180px;
  border: 1px solid rgba(218, 88, 92, 0.5);
  display: flex;
  border-radius: 5px; }
  .s-cart img {
    padding-left: 3%;
    padding-top: 5%;
    padding-bottom: 5%; }
  .s-cart .between {
    width: 65%; }
    .s-cart .between h5 {
      padding-top: 8%;
      padding-bottom: 3%;
      font-family: "Nunito", sans-serif; }
    .s-cart .between span {
      color: #da585c;
      font-family: "Nunito", sans-serif;
      font-weight: bold; }
  .s-cart .rg {
    width: 30%;
    text-align: center;
    padding-top: 10%; }
    .s-cart .rg input {
      width: 83px;
      height: 46px;
      border: none;
      border-radius: 5%; }
    .s-cart .rg input[type=number] {
      /*for absolutely positioning spinners*/
      position: relative; }
    .s-cart .rg input[type=number]::-webkit-inner-spin-button,
    .s-cart .rg input[type=number]::-webkit-outer-spin-button {
      opacity: 1; }
    .s-cart .rg input[type=number]::-webkit-outer-spin-button,
    .s-cart .rg input[type=number]::-webkit-inner-spin-button {
      -webkit-appearance: inner-spin-button !important;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%; }

.checkou1t {
  width: 100%;
  border: 1px solid rgba(218, 88, 92, 0.5);
  background-color: #fbeeef;
  height: 220px;
  margin-top: 41%;
  border-radius: 10px; }
  .checkou1t button {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    border: none;
    background-color: #da585c;
    border-radius: 5px;
    display: block;
    color: white; }
  .checkou1t hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #da585c; }
  .checkou1t .total {
    width: 60%;
    margin-left: auto;
    margin-right: auto; }
    .checkou1t .total .price {
      float: right;
      color: #da585c;
      font-weight: bold; }

footer {
  width: 100%;
  height: 100px;
  position: relative; }
  footer .bg {
    position: absolute;
    z-index: -1;
    width: 100%; }
  footer .circle {
    position: absolute;
    right: 80px;
    bottom: -160px;
    z-index: 1; }
  footer .gach {
    position: absolute;
    bottom: 150px;
    right: 450px;
    z-index: 1; }
  footer .warring {
    background-color: #da585c;
    border-radius: 20px;
    width: 50%;
    height: 250px;
    position: absolute;
    bottom: 175px;
    left: 173px;
    z-index: 1; }
    footer .warring img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 5%;
      margin-bottom: 2%; }
    footer .warring h5 {
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: white;
      padding-left: 10%;
      padding-right: 10%; }
  footer .footer-logo {
    padding-top: 13%;
    display: flex; }
    footer .footer-logo .kity-shop {
      width: 20%;
      padding-top: 6%;
      margin-left: 5%; }
      footer .footer-logo .kity-shop .logo {
        width: 75%;
        height: 50%;
        padding-left: 20%; }
      footer .footer-logo .kity-shop .icons {
        text-align: center; }
    footer .footer-logo .about-us {
      width: 20%;
      padding-top: 5%;
      margin-left: 5%; }
      footer .footer-logo .about-us .top {
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        color: white;
        font-weight: bold; }
      footer .footer-logo .about-us .text1 {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white; }
    footer .footer-logo .quick-link {
      width: 20%;
      padding-top: 5%;
      margin-left: 5%; }
      footer .footer-logo .quick-link .top {
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        color: white;
        font-weight: bold; }
      footer .footer-logo .quick-link .text2 {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white; }
    footer .footer-logo .update-our {
      width: 26%;
      padding-top: 8%; }
      footer .footer-logo .update-our span {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
