* {
    margin: 0;
    padding: 0;
}

$font-nunito: 'Nunito',
sans-serif;
$font-bebas: 'Bebas Neue',
cursive;
$color-pink:#da585c;
header {
    background-image: url('../../public/image/shop/header.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 93%;
    width: 100%;
    height: 600px;
    .menu {
        display: flex;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        .menu-logo {
            width: 18%;
            height: 18%;
        }
        .menu-between {
            width: 60%;
            display: flex;
            padding-left: 25%;
            padding-top: 4%;
            .between-child {
                margin-left: 15%;
                font-size: 18px;
                font-family: $font-nunito;
                // font-weight: ;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                        text-decoration-color: #da585c;
                    }
                }
            }
        }
        ._item {
            visibility: hidden;
        }
        .menu-right {
            width: 20%;
            padding-top: 4%;
            margin-left: 15%;
            img {
                font-size: 32px;
                padding-left: 10%;
            }
        }
    }
    .sendUs {
        position: absolute;
        z-index: 2;
        color: $color-pink;
        margin-top: 7%;
        margin-left: 9%;
        font-size: 75px;
        font-family: $font-nunito;
        font-weight: bold;
    }
    .yourRequest {
        z-index: 2;
        position: absolute;
        color: white;
        margin-top: 12%;
        margin-left: 9%;
        font-size: 75px;
        font-family: $font-nunito;
        font-weight: bold;
    }
}

main {
    display: flex;
    margin: 10% 8% 0% 8%;
    .main-left {
        width: 25%;
        h3 {
            font-family: $font-nunito;
            font-weight: bold;
            font-size: 20px;
            color: $color-pink;
        }
        hr {
            background-color: $color-pink;
            margin-top: -3%;
        }
        ul {
            li {
                img {
                    opacity: 0;
                    padding-bottom: 1%;
                    padding-right: 2%;
                }
                &:hover {
                    img {
                        opacity: 1;
                        transition: 0.4s;
                    }
                    a {
                        transition: 0.4s;
                        color: $color-pink;
                    }
                }
                list-style-type: none;
                a {
                    margin-top: 2px;
                    color: #2C2C2C;
                    text-decoration: none;
                }
            }
        }
        .circle-- {
            // position: relative;
            .cir1 {
                // position: absolute;
                // top: 3px;
                // left: -5px
            }
        }
        .enter- {
            margin-top: 10%;
            display: flex;
            h4 {
                font-family: $font-nunito;
                font-size: 18px;
                padding-top: 4%;
                span {
                    font-family: $font-nunito;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            button {
                border: none;
                background-color: $color-pink;
                border-radius: 5px;
                color: white;
                width: 40%;
                height: 40px;
                font-family: $font-nunito;
                font-size: 18px;
                font-weight: bold;
                margin-left: 12%;
            }
        }
    }
    .main-right {
        width: 70%;
        margin-left: 5%;
        // margin: 6%;
        select {
            margin-left: 2%;
        }
        .cate {
            display: flex;
            justify-content: center;
            margin-top: 5%;
            .prod {
                // margin: 0% 5% 0% 5%;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                h3 {
                    margin-top: 2%;
                    font-size: 18px;
                    font-weight: bold;
                    font-family: $font-nunito;
                    text-align: center;
                }
                h5 {
                    font-size: 24px;
                    font-weight: lighter;
                    color: $color-pink;
                    font-family: $font-nunito;
                    text-align: center;
                }
            }
            .prod-delete {
                // margin: 0% 5% 0% 5%;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                h3 {
                    margin-top: 2%;
                    font-size: 18px;
                    font-weight: bold;
                    font-family: $font-nunito;
                    text-align: center;
                }
                h5 {
                    font-size: 24px;
                    font-weight: lighter;
                    color: $color-pink;
                    font-family: $font-nunito;
                    text-align: center;
                }
            }
        }
    }
}

.page {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    button {
        color: black;
        background-color: white;
        border: none;
        border-radius: 5px;
        width: 35px;
        height: 35px;
        &:hover {
            transition: 0.4s;
            background-color: $color-pink;
            color: white;
        }
    }
}

//footer
footer {
    width: 100%;
    .bg {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .footer-logo {
        padding-top: 15%;
        display: flex;
        .kity-shop {
            width: 20%;
            padding-top: 6%;
            margin-left: 5%;
            .logo {
                img {
                    width: 65%;
                    height: 55%;
                    padding-left: 33%;
                }
            }
            .icons {
                text-align: center;
            }
        }
        .about-us {
            width: 20%;
            padding-top: 5%;
            margin-left: 3%;
            .top {
                font-family: $font-nunito;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .text1 {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
            }
        }
        .quick-link {
            width: 20%;
            padding-top: 5%;
            margin-left: 3%;
            .top {
                font-family: $font-nunito;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .text2 {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
            }
        }
        .update-our {
            width: 26%;
            padding-top: 8%;
            span {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
                font-weight: bold;
            }
            .inp {
                display: flex;
                .tex {
                    margin-right: 3%;
                    .ft-inp {
                        border: none;
                        border-radius: 3px;
                        width: 250px;
                        height: 35px;
                        color: #DA585C;
                    }
                }
                button {
                    border: none;
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                    img {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media(max-width:992px) {
    header {
        height: 345px;
        position: relative;
        z-index: 1;
        background-attachment: unset;
        .menu {
            .menu-between {
                visibility: hidden;
                position: absolute;
                z-index: 0;
            }
            ._item {
                visibility: visible;
                position: relative;
                float: right;
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                top: 70px;
                right: 5px;
                z-index: 1;
                .layer1 {
                    position: absolute;
                    top: -51px;
                    right: -415px;
                    // top: 5%;
                    // left: 5%;
                    i {
                        color: white;
                    }
                }
                .layer2 {
                    visibility: hidden;
                    position: absolute;
                    top: -25px;
                    left: 382px;
                    border: 1px solid white;
                    border-radius: 5px;
                    ul {
                        li {
                            // border-bottom: 1px solid black;
                            list-style: none;
                            a {
                                padding: 0px 5px 5px 5px;
                                color: white;
                                font-size: 16px;
                                float: right;
                                text-decoration: none;
                            }
                        }
                    }
                }
                &:hover .layer2 {
                    visibility: visible;
                }
            }
            .menu-right {
                position: absolute;
                opacity: 0;
            }
        }
        .sendUs {
            position: absolute;
            z-index: 2;
            color: $color-pink;
            margin-top: 13%;
            margin-left: 10%;
            font-size: 28px;
            font-weight: bold;
            font-family: $font-nunito;
        }
        .yourRequest {
            z-index: 2;
            font-weight: bold;
            // position: absolute;
            color: white;
            margin-top: 18%;
            margin-left: 10%;
            font-size: 28px;
            font-family: $font-nunito;
        }
    }
    main {
        .main-left {
            width: 35%;
            h3 {
                font-size: 16px;
            }
            ul {
                li {
                    a {
                        padding-left: 5%;
                        font-size: 13px;
                    }
                }
            }
            .circle-- {
                .cir1 {
                    width: 100%;
                }
            }
            .enter- {
                h4 {
                    font-size: 13px;
                    span {
                        font-size: 13px;
                    }
                }
                button {
                    height: 30px;
                    font-size: 13px;
                }
            }
            .ft-left {
                width: 100%;
            }
        }
        .main-right {
            width: 64%;
            select {
                font-size: 13px;
                margin-bottom: 19%;
            }
            .cate {
                .prod {
                    img {
                        width: 100%;
                        // height: 50;
                    }
                    h3 {
                        font-size: 8px;
                        margin-top: 5%;
                    }
                    h5 {
                        font-size: 13px;
                    }
                }
                .prod-delete {
                    img {
                        width: 100%;
                        // height: 50;
                    }
                    h3 {
                        font-size: 8px;
                        margin-top: 5%;
                    }
                    h5 {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    footer {
        height: 120px;
        .footer-logo {
            padding-top: 14%;
            .kity-shop {
                padding-top: 0%;
                .logo {
                    margin-top: 40px;
                    img {
                        width: 80%;
                        height: 65%;
                        // padding-left: 20%;
                        display: block;
                    }
                }
                .icons {
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 20px;
                        height: 16px;
                        padding-left: 4px;
                    }
                }
            }
            .about-us {
                width: 31%;
                padding-top: 7%;
                margin-left: 10%;
                .top {
                    opacity: 0;
                    font-size: 0px;
                }
                .text1 {
                    font-size: 9px;
                    font-weight: lighter;
                }
            }
            .quick-link {
                width: 1%;
                opacity: 0;
                padding-top: 0%;
                .top {
                    font-size: 0px;
                }
                .text2 {
                    font-size: 0px;
                }
            }
            .update-our {
                width: 40%;
                padding-top: 8%;
                margin-left: 20px;
                span {
                    visibility: hidden;
                    font-size: 1px;
                }
                .inp {
                    .tex {
                        .ft-inp {
                            width: 125px;
                            height: 20px;
                            font-size: 10px;
                        }
                    }
                    button {
                        margin-top: 4px;
                        width: 20px;
                        height: 20px;
                        img {
                            width: 15px;
                            height: 15px;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 572px) {
    header {
        height: 200px;
        .menu {
            .menu-between {
                visibility: hidden;
                position: absolute;
                .between-child {
                    margin-left: 0%;
                }
            }
            ._item {
                .layer1 {
                    top: -51px;
                    right: -245px;
                }
                .layer2 {
                    left: 212px;
                }
            }
        }
        .sendUs {
            margin-top: 13%;
            margin-left: 8%;
            font-size: 20px;
        }
        .yourRequest {
            margin-top: 20%;
            margin-left: 8%;
            font-size: 20px;
        }
    }
    //main
    main {
        display: inline;
        .main-left {
            width: 100%;
            display: flex;
            .catego {
                margin-left: 2%;
                width: 46%;
                margin-right: 2%;
            }
            .filter {
                margin-left: 2%;
                width: 46%;
                // margin-right: 2%;
                .circle-- {
                    width: 90%;
                }
            }
            .ft-left {
                visibility: hidden;
                position: absolute;
            }
        }
        .main-right {
            width: 90%;
            select {
                margin-bottom: 0px;
            }
            .cate {
                .prod-delete {
                    visibility: hidden;
                    position: absolute;
                }
            }
        }
    }
    //footer
    footer {
        .footer-logo {
            padding-top: 7%;
            .about-us {
                padding-top: 8%;
                .text1 {
                    font-size: 7px;
                }
            }
            .update-our {
                .inp {
                    .tex {
                        .ft-inp {
                            width: 95px;
                        }
                    }
                }
            }
            .kity-shop {
                .icons {
                    img {
                        width: 17px;
                        height: 12px;
                    }
                }
            }
        }
    }
}