* {
    margin: 0;
    padding: 0;
}

$font-nunito: 'Nunito',
sans-serif;
// $font-nunito 'Bebas Neue',
// cursive;
$color-red:#da585c;
.slideOfYou {
    position: relative;
    z-index: 1;
    .menu {
        z-index: 2;
        position: absolute;
        display: flex;
        width: 100%;
        .menu-between {
            width: 41%;
            display: flex;
            margin-left: 10%;
            padding-left: 10%;
            padding-top: 4%;
            .between-child {
                margin-left: 18%;
                font-size: 18px;
                font-family: $font-nunito;
                // font-weight: ;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                        text-decoration-color: $color-red;
                    }
                }
            }
            .between-child-fix {
                margin-left: 18%;
                font-size: 18px;
                font-family: $font-nunito;
                // font-weight: ;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                        text-decoration-color: $color-red;
                    }
                }
            }
        }
        .menu-logo {
            width: 18%;
            height: 18%;
        }
        .menu-right {
            width: 20%;
            padding-top: 4%;
            margin-left: 15%;
            img {
                font-size: 32px;
                padding-left: 10%;
            }
        }
        ._item {
            visibility: hidden;
        }
    }
    .sendUs {
        position: absolute;
        z-index: 2;
        color: $color-red;
        margin-top: 27%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-nunito;
    }
    .yourRequest {
        z-index: 2;
        position: absolute;
        color: white;
        margin-top: 20%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-nunito;
    }
}

header {
    background-image: url('../../public/image/index/header.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 93%;
    width: 100%;
    height: 600px;
    .menu {
        display: flex;
        width: 100%;
        .menu-logo {
            width: 18%;
            height: 18%;
        }
        .btn-dropdow {
            opacity: 0;
        }
        .menu-between {
            width: 41%;
            display: flex;
            padding-left: 20%;
            padding-top: 4%;
            .between-child {
                margin-left: 10%;
                font-size: 18px;
                font-family: $font-nunito;
                // font-weight: ;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                        text-decoration-color: $color-red;
                    }
                }
            }
        }
        .menu-right {
            width: 20%;
            padding-top: 4%;
            margin-left: -3%;
            img {
                font-size: 32px;
                padding-left: 10%;
            }
        }
    }
    .sendUs {
        color: $color-red;
        margin-top: 5%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-nunito;
    }
    .yourRequest {
        color: white;
        // margin-top: 1%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-nunito;
    }
}

// main
main {
    // main1
    .main1 {
        margin-top: 6%;
        margin-bottom: 10%;
        .chan {
            display: flex;
            font-family: $font-nunito;
            font-size: 40px;
            justify-content: center;
            .xoay {
                transform: rotate(-10deg);
            }
            .weCan {
                padding-top: 3%;
            }
        }
        .weOffer {
            width: 100%;
            display: block;
            text-align: center;
            font-family: $font-nunito;
            font-size: 15px;
        }
    }
    // main2
    .main2 {
        display: flex;
        justify-content: center;
        // width: 100%;
        img {
            margin: 0px 15px 0px 15px;
        }
        .anh1 {
            position: relative;
            .bl {
                position: absolute;
                z-index: 1;
            }
            .food {
                position: absolute;
                top: 50px;
                left: 40px;
                width: 77%;
                z-index: 2;
                .food-header {
                    display: flex;
                    margin-top: 33%;
                    img {
                        width: 32px;
                        height: 32px;
                        margin-left: 0px;
                        margin-right: 5px;
                    }
                    h3 {
                        color: $color-red;
                        font-family: $font-nunito;
                        font-size: 30px;
                    }
                }
                span {
                    margin-top: 5px;
                    font-family: $font-nunito;
                    font-size: 15px;
                    color: white;
                }
                .food-footer {
                    display: flex;
                    margin-top: 30%;
                    h2 {
                        font-size: 20px;
                        font-family: $font-nunito;
                        font-weight: bold;
                        color: white;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        .anh2 {
            position: relative;
            h3 {
                position: absolute;
                bottom: 8px;
                left: 55px;
                font-size: 25px;
                font-weight: bold;
                font-family: $font-nunito;
                color: white;
            }
        }
        .anh3 {
            position: relative;
            h3 {
                position: absolute;
                bottom: 8px;
                left: 60px;
                font-size: 25px;
                font-weight: bold;
                font-family: $font-nunito;
                color: white;
            }
        }
        .anh4 {
            position: relative;
            h3 {
                position: absolute;
                bottom: 8px;
                left: 95px;
                font-size: 25px;
                font-weight: bold;
                font-family: $font-nunito;
                color: white;
            }
        }
    }
    //main3
    .main3 {
        display: flex;
        width: 100%;
        margin-top: 120px;
        .img3 {
            width: 50%;
        }
        .tex3 {
            width: 50%;
            margin-left: 6%;
            margin-right: 17%;
            padding-top: 5%;
            h3 {
                margin-top: 5%;
                font-family: $font-nunito;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            span {
                margin-top: 5%;
                font-size: 15px;
                font-family: $font-nunito;
                display: block;
                text-align: center;
            }
            .price {
                margin-top: 5%;
                display: flex;
                justify-content: center;
                .hr {
                    margin-top: 5%;
                    position: relative;
                    h5 {
                        position: absolute;
                    }
                    img {
                        height: 4px;
                        width: 116px;
                    }
                }
                h3 {
                    color: $color-red;
                    font-family: $font-nunito;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .fish {
                position: relative;
                margin-top: 5%;
                img {
                    margin-left: 20%;
                    margin-top: 5%;
                }
                // span {
                //     top: 35px;
                //     left: 170px;
                //     position: absolute;
                //     transform: rotate(-15deg);
                //     font-family: $font-nunito;
                //     font-size: 20px;
                //     font-weight: bold;
                //     color: white;
                // }
            }
        }
    }
    //main4
    .main4 {
        width: 100%;
        display: flex;
        margin-top: 120px;
        margin-bottom: 120px;
        .tex4 {
            // width: 50%;
            // margin-left: 6%;
            // margin-right: 6%;
            width: 50%;
            margin-left: 6%;
            margin-right: 17%;
            padding-top: 5%;
            h3 {
                margin-top: 5%;
                font-family: $font-nunito;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            span {
                margin-top: 5%;
                font-size: 15px;
                font-family: $font-nunito;
                display: block;
                text-align: center;
            }
            .price {
                margin-top: 5%;
                display: flex;
                justify-content: center;
                .hr {
                    margin-top: 5%;
                    position: relative;
                    h5 {
                        position: absolute;
                    }
                    img {
                        height: 4px;
                        width: 116px;
                    }
                }
                h3 {
                    color: $color-red;
                    font-family: $font-nunito;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .fish {
                position: relative;
                margin-top: 5%;
                img {
                    margin-left: 20%;
                    margin-top: 5%;
                }
                // span {
                //     top: 35px;
                //     left: 180px;
                //     position: absolute;
                //     transform: rotate(-15deg);
                //     font-family: $font-nunito;
                //     font-size: 20px;
                //     font-weight: bold;
                //     color: white;
                // }
            }
        }
        .img4 {
            width: 50%;
            img {
                float: right;
            }
        }
    }
    .b-seller {
        display: flex;
        font-family: $font-nunito;
        font-size: 40px;
        justify-content: center;
        .xoay {
            transform: rotate(-10deg);
        }
        .weCan {
            padding-top: 3%;
        }
    }
    //main5
    .main5 {
        margin: 6%;
        .cate {
            display: flex;
            justify-content: center;
            .prod {
                // margin: 0% 5% 0% 5%;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                .prod-child1 {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
                .add-cart {
                    display: flex;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    .tex {
                        width: 50%;
                        // padding-top: 10px;
                        h3 {
                            font-size: 18px;
                            font-family: $font-nunito;
                        }
                        span {
                            font-size: 18px;
                            font-family: $font-nunito;
                            color: $color-red;
                            font-weight: bold;
                        }
                    }
                    .btn-cart {
                        width: 50%;
                        .btn-flex {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 166px;
                            height: 53px;
                            border: none;
                            background-color: $color-red;
                            border-radius: 5px;
                            h4 {
                                padding-top: 10px;
                                font-family: $font-nunito;
                                font-size: 16px;
                                display: inline;
                                color: white;
                            }
                            img {
                                // padding-left: 2px;
                                margin-right: 5px;
                                width: 20px;
                                height: 17px;
                                color: white;
                            }
                        }
                    }
                }
            }
            .prod-delete {
                // margin: 0% 5% 0% 5%;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                .prod-child1 {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
                .add-cart {
                    display: flex;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    .tex {
                        width: 50%;
                        // padding-top: 10px;
                        h3 {
                            font-size: 18px;
                            font-family: $font-nunito;
                        }
                        span {
                            font-size: 18px;
                            font-family: $font-nunito;
                            color: $color-red;
                            font-weight: bold;
                        }
                    }
                    .btn-cart {
                        width: 50%;
                        .btn-flex {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 166px;
                            height: 53px;
                            border: none;
                            background-color: $color-red;
                            border-radius: 5px;
                            h4 {
                                padding-top: 10px;
                                font-family: $font-nunito;
                                font-size: 16px;
                                display: inline;
                                color: white;
                            }
                            img {
                                padding-left: 2px;
                                width: 20px;
                                height: 17px;
                                color: white;
                            }
                        }
                    }
                }
            }
            .prodImg {
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                .prodImg4 {
                    z-index: 1;
                    position: absolute;
                    top: -12px;
                    left: 58px;
                }
                .prodImg3 {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
                .prodImg2 {
                    top: 8px;
                    left: 48px;
                    position: absolute;
                }
                .add-cart {
                    display: flex;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    .tex {
                        width: 50%;
                        // padding-top: 10px;
                        h3 {
                            font-size: 18px;
                            font-family: $font-nunito;
                        }
                        span {
                            font-size: 18px;
                            font-family: $font-nunito;
                            color: $color-red;
                            font-weight: bold;
                        }
                    }
                    .btn-cart {
                        width: 50%;
                        .btn-flex {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 166px;
                            height: 53px;
                            border: none;
                            background-color: $color-red;
                            border-radius: 5px;
                            h4 {
                                padding-top: 10px;
                                font-family: $font-nunito;
                                font-size: 16px;
                                display: inline;
                                color: white;
                            }
                            img {
                                padding-left: 2px;
                                width: 20px;
                                height: 17px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    //main6
    .main6 {
        display: flex;
        margin: 12% 10% 6% 10%;
        .img6 {
            // position: relative;
            // width: 600px;
            .img6-1 {
                // position: absolute;
            }
        }
        .tex6 {
            margin-left: 5%;
            img {
                display: block;
            }
            span {
                font-family: $font-nunito;
                font-size: 16px;
                display: block;
                margin-top: 30%;
            }
            h3 {
                margin-top: 10%;
                font-family: $font-nunito;
                font-size: 18px;
                color: $color-red;
                font-weight: bold;
            }
            h4 {
                margin-top: -1%;
                font-family: $font-nunito;
                font-size: 16px;
            }
            .icons-main6 {
                display: flex;
                img {
                    margin-right: 2%;
                }
            }
        }
    }
}

//footer
footer {
    width: 100%;
    .bg {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .footer-logo {
        padding-top: 15%;
        display: flex;
        .kity-shop {
            width: 20%;
            padding-top: 6%;
            margin-left: 5%;
            .logo {
                img {
                    width: 65%;
                    height: 55%;
                    padding-left: 33%;
                }
            }
            .icons {
                text-align: center;
            }
        }
        .about-us {
            width: 20%;
            padding-top: 5%;
            margin-left: 3%;
            .top {
                font-family: $font-nunito;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .text1 {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
            }
        }
        .quick-link {
            width: 20%;
            padding-top: 5%;
            margin-left: 3%;
            .top {
                font-family: $font-nunito;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .text2 {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
            }
        }
        .update-our {
            width: 26%;
            padding-top: 8%;
            span {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
                font-weight: bold;
            }
            .inp {
                display: flex;
                .tex {
                    margin-right: 3%;
                    .ft-inp {
                        border: none;
                        border-radius: 3px;
                        width: 250px;
                        height: 35px;
                        color: #DA585C;
                    }
                }
                button {
                    border: none;
                    width: 35px;
                    height: 35px;
                    border-radius: 3px;
                    img {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    .slideOfYou {
        .menu {
            .menu-between {
                visibility: hidden;
                .between-child-fix {
                    position: absolute;
                }
            }
            ._item {
                visibility: visible;
                position: relative;
                float: right;
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                top: 70px;
                right: 5px;
                .layer1 {
                    position: absolute;
                    top: -51px;
                    left: 145px;
                    // top: 5%;
                    // left: 5%;
                    i {
                        color: white;
                    }
                }
                .layer2 {
                    visibility: hidden;
                    position: absolute;
                    top: -20px;
                    left: 105px;
                    ul {
                        li {
                            list-style: none;
                            a {
                                color: white;
                                font-size: 16px;
                                float: right;
                                text-decoration: none;
                            }
                        }
                    }
                }
                &:hover .layer2 {
                    visibility: visible;
                }
            }
            .menu-right {
                position: absolute;
                opacity: 0;
            }
        }
        .sendUs {
            font-size: 50px;
        }
        .yourRequest {
            font-size: 50px;
        }
    }
    main {
        .main1 {
            margin-top: 4%;
            margin-bottom: 8%;
            .chan {
                .xoay {
                    width: 10%;
                }
                span {
                    font-size: 25px;
                }
            }
            .weOffer {
                font-size: 10px;
            }
        }
        .main2 {
            opacity: 0;
            position: absolute;
            .anh3 {
                position: absolute;
            }
            .anh4 {
                position: absolute;
            }
        }
        .main3 {
            .img3 {
                img {
                    width: 120%;
                }
            }
            .tex3 {
                padding-left: 15%;
                margin-left: 0%;
                margin-right: 11%;
                h3 {
                    font-size: 20px;
                }
                span {
                    font-size: 10px;
                }
                .price {
                    .hr {
                        h5 {
                            font-size: 13px;
                            top: 5px;
                        }
                        img {
                            width: 80px;
                        }
                    }
                    h3 {
                        padding-top: 5px;
                        font-size: 13px;
                    }
                }
                .fish {
                    margin-top: 3%;
                    img {
                        width: 50%;
                    }
                    // span {
                    //     top: 18px;
                    //     left: 90px;
                    //     font-size: 10px;
                    // }
                }
            }
        }
        .main4 {
            margin-top: 100px;
            margin-bottom: 30px;
            .tex4 {
                padding-left: 10%;
                margin-left: 3%;
                margin-right: 16%;
                h3 {
                    font-size: 20px;
                }
                span {
                    font-size: 10px;
                }
                .price {
                    .hr {
                        h5 {
                            font-size: 13px;
                            top: 5px;
                        }
                        img {
                            width: 80px;
                        }
                    }
                    h3 {
                        padding-top: 5px;
                        font-size: 13px;
                    }
                }
                .fish {
                    margin-top: 3%;
                    img {
                        width: 50%;
                    }
                    // span {
                    //     top: 20px;
                    //     left: 92px;
                    //     font-size: 10px;
                    // }
                }
            }
            .img4 {
                img {
                    width: 120%;
                }
            }
        }
        .b-seller {
            font-size: 25px;
            .xoay {
                width: 10%;
            }
        }
        .main5 {
            .cate {
                .prod-delete {
                    opacity: 0;
                    position: absolute;
                }
                .prod {
                    width: 50%;
                    .prod-child1 {
                        top: 5px;
                        right: 5px;
                    }
                    .prod-child2 {
                        width: 100%;
                    }
                    .add-cart {
                        width: 100%;
                        .tex {
                            padding-left: 2%;
                            width: 50%;
                            h3 {
                                font-size: 15px;
                                margin-bottom: 0px;
                            }
                            span {
                                font-size: 15px;
                            }
                        }
                        .btn-cart {
                            width: 40%;
                            padding-right: 4%;
                            .btn-flex {
                                width: 120px;
                                height: 40px;
                                h4 {
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main6 {
            .img6 {
                width: 250%;
                .img6-1 {
                    width: 100%;
                }
            }
            .tex6 {
                img {
                    width: 13%;
                    padding-top: 5%;
                }
                span {
                    font-size: 10px;
                    margin-top: 20%;
                }
                h3 {
                    font-size: 12px;
                }
                h4 {
                    font-size: 10px;
                }
                .icons-main6 {
                    img {
                        width: 5%;
                    }
                }
            }
        }
    }
    footer {
        height: 120px;
        .footer-logo {
            padding-top: 14%;
            .kity-shop {
                padding-top: 0%;
                .logo {
                    margin-top: 40px;
                    img {
                        width: 80%;
                        height: 65%;
                        // padding-left: 20%;
                        display: block;
                    }
                }
                .icons {
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 20px;
                        height: 16px;
                        padding-left: 4px;
                    }
                }
            }
            .about-us {
                width: 31%;
                padding-top: 7%;
                margin-left: 10%;
                .top {
                    opacity: 0;
                    font-size: 0px;
                }
                .text1 {
                    font-size: 12px;
                    font-weight: lighter;
                }
            }
            .quick-link {
                width: 1%;
                opacity: 0;
                padding-top: 0%;
                .top {
                    font-size: 0px;
                }
                .text2 {
                    font-size: 0px;
                }
            }
            .update-our {
                width: 40%;
                padding-top: 8%;
                margin-left: 20px;
                span {
                    visibility: hidden;
                    font-size: 1px;
                }
                .inp {
                    .tex {
                        .ft-inp {
                            width: 125px;
                            height: 20px;
                            font-size: 10px;
                        }
                    }
                    button {
                        margin-top: 4px;
                        width: 20px;
                        height: 20px;
                        img {
                            width: 15px;
                            height: 15px;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .active {
        background-color: #4CAF50;
        color: white;
    }
    .slideOfYou {
        .menu {
            display: flex;
            // .menu-logo {
            //     position: absolute;
            //     width: 50%;
            //     height: 50%;
            // }
            .menu-between {
                visibility: hidden;
            }
            .between-child-fix {
                position: absolute;
            }
            ._item {
                visibility: visible;
                position: relative;
                float: right;
                color: white;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                top: 70px;
                right: 5px;
                .layer1 {
                    position: absolute;
                    top: -58px;
                    left: 90px;
                    i {
                        color: white;
                    }
                }
                .layer2 {
                    visibility: hidden;
                    position: absolute;
                    top: -33px;
                    left: 58px;
                    ul {
                        li {
                            list-style: none;
                            a {
                                color: white;
                                font-size: 14px;
                                float: right;
                                text-decoration: none;
                            }
                        }
                    }
                }
                &:hover .layer2 {
                    visibility: visible;
                }
            }
            .menu-right {
                position: absolute;
                opacity: 0;
            }
        }
        .sendUs {
            font-size: 25px;
        }
        .yourRequest {
            font-size: 25px;
        }
    }
    main {
        .main1 {
            margin-top: 4%;
            margin-bottom: 8%;
            .chan {
                .xoay {
                    width: 13%;
                }
                span {
                    font-size: 25px;
                }
            }
            .weOffer {
                font-size: 10px;
            }
        }
        .main2 {
            opacity: 0;
            position: absolute;
            .anh2 {
                position: absolute;
            }
            .anh3 {
                position: absolute;
            }
            .anh4 {
                position: absolute;
            }
        }
        .main3 {
            margin-top: 50px;
            .img3 {
                img {
                    width: 120%;
                    padding-top: 45px;
                }
            }
            .tex3 {
                padding-left: 15%;
                margin-left: 0%;
                margin-right: 11%;
                h3 {
                    font-size: 20px;
                }
                span {
                    font-size: 10px;
                }
                .price {
                    .hr {
                        h5 {
                            font-size: 13px;
                            top: 5px;
                        }
                        img {
                            width: 80px;
                        }
                    }
                    h3 {
                        padding-top: 5px;
                        font-size: 13px;
                    }
                }
                .fish {
                    margin-top: 3%;
                    img {
                        width: 50%;
                    }
                    // span {
                    //     top: 18px;
                    //     left: 90px;
                    //     font-size: 10px;
                    // }
                }
            }
        }
        .main4 {
            margin-top: 50px;
            margin-bottom: 50px;
            .tex4 {
                padding-left: 10%;
                margin-left: 3%;
                margin-right: 16%;
                h3 {
                    font-size: 20px;
                }
                span {
                    font-size: 10px;
                }
                .price {
                    .hr {
                        h5 {
                            font-size: 13px;
                            top: 5px;
                        }
                        img {
                            width: 80px;
                        }
                    }
                    h3 {
                        padding-top: 5px;
                        font-size: 13px;
                    }
                }
                .fish {
                    margin-top: 3%;
                    img {
                        width: 50%;
                    }
                    // span {
                    //     top: 20px;
                    //     left: 92px;
                    //     font-size: 10px;
                    // }
                }
            }
            .img4 {
                img {
                    width: 120%;
                    padding-top: 40px;
                }
            }
        }
        .b-seller {
            font-size: 25px;
            .xoay {
                width: 10%;
            }
        }
        .main5 {
            .cate {
                .prod-delete {
                    opacity: 0;
                    position: absolute;
                    .add-cart {
                        margin-bottom: 0px;
                    }
                }
                .prod {
                    width: 50%;
                    .prod-child1 {
                        top: 5px;
                        right: 5px;
                    }
                    .prod-child2 {
                        width: 100%;
                    }
                    .add-cart {
                        width: 100%;
                        margin-bottom: 0px;
                        .tex {
                            padding-left: 2%;
                            width: 50%;
                            h3 {
                                font-size: 10px;
                                margin-bottom: 0px;
                            }
                            span {
                                font-size: 10px;
                            }
                        }
                        .btn-cart {
                            width: 40%;
                            padding-right: 4%;
                            .btn-flex {
                                width: 70px;
                                height: 30px;
                                h4 {
                                    font-size: 7px;
                                    padding-left: 1px;
                                }
                                img {
                                    padding-left: 1px;
                                    width: 10px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main6 {
            .img6 {
                width: 250%;
                .img6-1 {
                    width: 100%;
                }
            }
            .tex6 {
                img {
                    width: 13%;
                    padding-top: 5%;
                }
                span {
                    font-size: 10px;
                    margin-top: 20%;
                }
                h3 {
                    font-size: 12px;
                }
                h4 {
                    font-size: 10px;
                }
                .icons-main6 {
                    img {
                        width: 5%;
                    }
                }
            }
        }
    }
    footer {
        height: 120px;
        .footer-logo {
            padding-top: 12%;
            .kity-shop {
                padding-top: 0%;
                .logo {
                    margin-top: 20px;
                    img {
                        width: 80%;
                        height: 65%;
                        // padding-left: 20%;
                        display: block;
                    }
                }
                .icons {
                    height: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 10px;
                        height: 10px;
                        padding-left: 1px;
                    }
                }
            }
            .about-us {
                width: 30%;
                padding-top: 5%;
                margin-left: 10%;
                .top {
                    opacity: 0;
                    font-size: 0px;
                }
                .text1 {
                    font-size: 8px;
                    font-weight: lighter;
                }
            }
            .quick-link {
                width: 1%;
                opacity: 0;
                padding-top: 0%;
                .top {
                    font-size: 0px;
                }
                .text2 {
                    font-size: 0px;
                }
            }
            .update-our {
                width: 30%;
                padding-top: 0%;
                span {
                    visibility: hidden;
                    font-size: 1px;
                }
                .inp {
                    .tex {
                        .ft-inp {
                            width: 80px;
                            height: 20px;
                            font-size: 10px;
                        }
                    }
                    button {
                        margin-top: 4px;
                        width: 20px;
                        height: 20px;
                        img {
                            width: 15px;
                            height: 15px;
                            padding: 2px;
                        }
                    }
                }
            }
        }
    }
}