* {
  margin: 0;
  padding: 0; }

.slideOfYou {
  position: relative;
  z-index: 1; }
  .slideOfYou .menu {
    z-index: 2;
    position: absolute;
    display: flex;
    width: 100%; }
    .slideOfYou .menu .menu-between {
      width: 41%;
      display: flex;
      margin-left: 10%;
      padding-left: 10%;
      padding-top: 4%; }
      .slideOfYou .menu .menu-between .between-child {
        margin-left: 18%;
        font-size: 18px;
        font-family: "Nunito", sans-serif; }
        .slideOfYou .menu .menu-between .between-child a {
          text-decoration: none;
          color: white; }
          .slideOfYou .menu .menu-between .between-child a:hover {
            text-decoration: underline;
            transition: 0.5s;
            text-decoration-color: #da585c; }
      .slideOfYou .menu .menu-between .between-child-fix {
        margin-left: 18%;
        font-size: 18px;
        font-family: "Nunito", sans-serif; }
        .slideOfYou .menu .menu-between .between-child-fix a {
          text-decoration: none;
          color: white; }
          .slideOfYou .menu .menu-between .between-child-fix a:hover {
            text-decoration: underline;
            transition: 0.5s;
            text-decoration-color: #da585c; }
    .slideOfYou .menu .menu-logo {
      width: 18%;
      height: 18%; }
    .slideOfYou .menu .menu-right {
      width: 20%;
      padding-top: 4%;
      margin-left: 15%; }
      .slideOfYou .menu .menu-right img {
        font-size: 32px;
        padding-left: 10%; }
    .slideOfYou .menu ._item {
      visibility: hidden; }
  .slideOfYou .sendUs {
    position: absolute;
    z-index: 2;
    color: #da585c;
    margin-top: 27%;
    margin-left: 9%;
    font-size: 100px;
    font-family: "Nunito", sans-serif; }
  .slideOfYou .yourRequest {
    z-index: 2;
    position: absolute;
    color: white;
    margin-top: 20%;
    margin-left: 9%;
    font-size: 100px;
    font-family: "Nunito", sans-serif; }

header {
  background-image: url("../../public/image/index/header.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 93%;
  width: 100%;
  height: 600px; }
  header .menu {
    display: flex;
    width: 100%; }
    header .menu .menu-logo {
      width: 18%;
      height: 18%; }
    header .menu .btn-dropdow {
      opacity: 0; }
    header .menu .menu-between {
      width: 41%;
      display: flex;
      padding-left: 20%;
      padding-top: 4%; }
      header .menu .menu-between .between-child {
        margin-left: 10%;
        font-size: 18px;
        font-family: "Nunito", sans-serif; }
        header .menu .menu-between .between-child a {
          text-decoration: none;
          color: white; }
          header .menu .menu-between .between-child a:hover {
            text-decoration: underline;
            transition: 0.5s;
            text-decoration-color: #da585c; }
    header .menu .menu-right {
      width: 20%;
      padding-top: 4%;
      margin-left: -3%; }
      header .menu .menu-right img {
        font-size: 32px;
        padding-left: 10%; }
  header .sendUs {
    color: #da585c;
    margin-top: 5%;
    margin-left: 9%;
    font-size: 100px;
    font-family: "Nunito", sans-serif; }
  header .yourRequest {
    color: white;
    margin-left: 9%;
    font-size: 100px;
    font-family: "Nunito", sans-serif; }

main .main1 {
  margin-top: 6%;
  margin-bottom: 10%; }
  main .main1 .chan {
    display: flex;
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    justify-content: center; }
    main .main1 .chan .xoay {
      transform: rotate(-10deg); }
    main .main1 .chan .weCan {
      padding-top: 3%; }
  main .main1 .weOffer {
    width: 100%;
    display: block;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-size: 15px; }
main .main2 {
  display: flex;
  justify-content: center; }
  main .main2 img {
    margin: 0px 15px 0px 15px; }
  main .main2 .anh1 {
    position: relative; }
    main .main2 .anh1 .bl {
      position: absolute;
      z-index: 1; }
    main .main2 .anh1 .food {
      position: absolute;
      top: 50px;
      left: 40px;
      width: 77%;
      z-index: 2; }
      main .main2 .anh1 .food .food-header {
        display: flex;
        margin-top: 33%; }
        main .main2 .anh1 .food .food-header img {
          width: 32px;
          height: 32px;
          margin-left: 0px;
          margin-right: 5px; }
        main .main2 .anh1 .food .food-header h3 {
          color: #da585c;
          font-family: "Nunito", sans-serif;
          font-size: 30px; }
      main .main2 .anh1 .food span {
        margin-top: 5px;
        font-family: "Nunito", sans-serif;
        font-size: 15px;
        color: white; }
      main .main2 .anh1 .food .food-footer {
        display: flex;
        margin-top: 30%; }
        main .main2 .anh1 .food .food-footer h2 {
          font-size: 20px;
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          color: white; }
        main .main2 .anh1 .food .food-footer img {
          width: 16px;
          height: 16px; }
  main .main2 .anh2 {
    position: relative; }
    main .main2 .anh2 h3 {
      position: absolute;
      bottom: 8px;
      left: 55px;
      font-size: 25px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      color: white; }
  main .main2 .anh3 {
    position: relative; }
    main .main2 .anh3 h3 {
      position: absolute;
      bottom: 8px;
      left: 60px;
      font-size: 25px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      color: white; }
  main .main2 .anh4 {
    position: relative; }
    main .main2 .anh4 h3 {
      position: absolute;
      bottom: 8px;
      left: 95px;
      font-size: 25px;
      font-weight: bold;
      font-family: "Nunito", sans-serif;
      color: white; }
main .main3 {
  display: flex;
  width: 100%;
  margin-top: 120px; }
  main .main3 .img3 {
    width: 50%; }
  main .main3 .tex3 {
    width: 50%;
    margin-left: 6%;
    margin-right: 17%;
    padding-top: 5%; }
    main .main3 .tex3 h3 {
      margin-top: 5%;
      font-family: "Nunito", sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-align: center; }
    main .main3 .tex3 span {
      margin-top: 5%;
      font-size: 15px;
      font-family: "Nunito", sans-serif;
      display: block;
      text-align: center; }
    main .main3 .tex3 .price {
      margin-top: 5%;
      display: flex;
      justify-content: center; }
      main .main3 .tex3 .price .hr {
        margin-top: 5%;
        position: relative; }
        main .main3 .tex3 .price .hr h5 {
          position: absolute; }
        main .main3 .tex3 .price .hr img {
          height: 4px;
          width: 116px; }
      main .main3 .tex3 .price h3 {
        color: #da585c;
        font-family: "Nunito", sans-serif;
        font-size: 30px;
        font-weight: bold; }
    main .main3 .tex3 .fish {
      position: relative;
      margin-top: 5%; }
      main .main3 .tex3 .fish img {
        margin-left: 20%;
        margin-top: 5%; }
      main .main3 .tex3 .fish:hover {
        transition: 0.4s;
        transform: rotate(15deg); }
main .main4 {
  width: 100%;
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px; }
  main .main4 .tex4 {
    width: 50%;
    margin-left: 6%;
    margin-right: 17%;
    padding-top: 5%; }
    main .main4 .tex4 h3 {
      margin-top: 5%;
      font-family: "Nunito", sans-serif;
      font-size: 30px;
      font-weight: bold;
      text-align: center; }
    main .main4 .tex4 span {
      margin-top: 5%;
      font-size: 15px;
      font-family: "Nunito", sans-serif;
      display: block;
      text-align: center; }
    main .main4 .tex4 .price {
      margin-top: 5%;
      display: flex;
      justify-content: center; }
      main .main4 .tex4 .price .hr {
        margin-top: 5%;
        position: relative; }
        main .main4 .tex4 .price .hr h5 {
          position: absolute; }
        main .main4 .tex4 .price .hr img {
          height: 4px;
          width: 116px; }
      main .main4 .tex4 .price h3 {
        color: #da585c;
        font-family: "Nunito", sans-serif;
        font-size: 30px;
        font-weight: bold; }
    main .main4 .tex4 .fish {
      position: relative;
      margin-top: 5%; }
      main .main4 .tex4 .fish img {
        margin-left: 20%;
        margin-top: 5%; }
      main .main4 .tex4 .fish:hover {
        transition: 0.4s;
        transform: rotate(15deg); }
  main .main4 .img4 {
    width: 50%; }
    main .main4 .img4 img {
      float: right; }
main .b-seller {
  display: flex;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  justify-content: center; }
  main .b-seller .xoay {
    transform: rotate(-10deg); }
  main .b-seller .weCan {
    padding-top: 3%; }
main .main5 {
  margin: 6%; }
  main .main5 .cate {
    display: flex;
    justify-content: center; }
    main .main5 .cate .prod {
      margin-left: 5px;
      margin-right: 5px;
      position: relative; }
      main .main5 .cate .prod .prod-child1 {
        position: absolute;
        top: 5px;
        right: 5px; }
      main .main5 .cate .prod .add-cart {
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 25px; }
        main .main5 .cate .prod .add-cart .tex {
          width: 50%; }
          main .main5 .cate .prod .add-cart .tex h3 {
            font-size: 18px;
            font-family: "Nunito", sans-serif; }
          main .main5 .cate .prod .add-cart .tex span {
            font-size: 18px;
            font-family: "Nunito", sans-serif;
            color: #da585c;
            font-weight: bold; }
        main .main5 .cate .prod .add-cart .btn-cart {
          width: 50%; }
          main .main5 .cate .prod .add-cart .btn-cart .btn-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 166px;
            height: 53px;
            border: none;
            background-color: #da585c;
            border-radius: 5px; }
            main .main5 .cate .prod .add-cart .btn-cart .btn-flex h4 {
              padding-top: 10px;
              font-family: "Nunito", sans-serif;
              font-size: 16px;
              display: inline;
              color: white; }
            main .main5 .cate .prod .add-cart .btn-cart .btn-flex img {
              margin-right: 5px;
              width: 20px;
              height: 17px;
              color: white; }
    main .main5 .cate .prod-delete {
      margin-left: 5px;
      margin-right: 5px;
      position: relative; }
      main .main5 .cate .prod-delete .prod-child1 {
        position: absolute;
        top: 5px;
        right: 5px; }
      main .main5 .cate .prod-delete .add-cart {
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 25px; }
        main .main5 .cate .prod-delete .add-cart .tex {
          width: 50%; }
          main .main5 .cate .prod-delete .add-cart .tex h3 {
            font-size: 18px;
            font-family: "Nunito", sans-serif; }
          main .main5 .cate .prod-delete .add-cart .tex span {
            font-size: 18px;
            font-family: "Nunito", sans-serif;
            color: #da585c;
            font-weight: bold; }
        main .main5 .cate .prod-delete .add-cart .btn-cart {
          width: 50%; }
          main .main5 .cate .prod-delete .add-cart .btn-cart .btn-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 166px;
            height: 53px;
            border: none;
            background-color: #da585c;
            border-radius: 5px; }
            main .main5 .cate .prod-delete .add-cart .btn-cart .btn-flex h4 {
              padding-top: 10px;
              font-family: "Nunito", sans-serif;
              font-size: 16px;
              display: inline;
              color: white; }
            main .main5 .cate .prod-delete .add-cart .btn-cart .btn-flex img {
              padding-left: 2px;
              width: 20px;
              height: 17px;
              color: white; }
main .main6 {
  display: flex;
  margin: 12% 10% 6% 10%; }
  main .main6 .tex6 {
    margin-left: 5%; }
    main .main6 .tex6 img {
      display: block; }
    main .main6 .tex6 span {
      font-family: "Nunito", sans-serif;
      font-size: 16px;
      display: block;
      margin-top: 30%; }
    main .main6 .tex6 h3 {
      margin-top: 10%;
      font-family: "Nunito", sans-serif;
      font-size: 18px;
      color: #da585c;
      font-weight: bold; }
    main .main6 .tex6 h4 {
      margin-top: -1%;
      font-family: "Nunito", sans-serif;
      font-size: 16px; }
    main .main6 .tex6 .icons-main6 {
      display: flex; }
      main .main6 .tex6 .icons-main6 img {
        margin-right: 2%; }

footer {
  width: 100%; }
  footer .bg {
    position: absolute;
    z-index: -1;
    width: 100%; }
  footer .footer-logo {
    padding-top: 15%;
    display: flex; }
    footer .footer-logo .kity-shop {
      width: 20%;
      padding-top: 6%;
      margin-left: 5%; }
      footer .footer-logo .kity-shop .logo img {
        width: 65%;
        height: 55%;
        padding-left: 33%; }
      footer .footer-logo .kity-shop .icons {
        text-align: center; }
    footer .footer-logo .about-us {
      width: 20%;
      padding-top: 5%;
      margin-left: 3%; }
      footer .footer-logo .about-us .top {
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        color: white;
        font-weight: bold; }
      footer .footer-logo .about-us .text1 {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white; }
    footer .footer-logo .quick-link {
      width: 20%;
      padding-top: 5%;
      margin-left: 3%; }
      footer .footer-logo .quick-link .top {
        font-family: "Nunito", sans-serif;
        font-size: 18px;
        color: white;
        font-weight: bold; }
      footer .footer-logo .quick-link .text2 {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white; }
    footer .footer-logo .update-our {
      width: 26%;
      padding-top: 8%; }
      footer .footer-logo .update-our span {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        color: white;
        font-weight: bold; }
      footer .footer-logo .update-our .inp {
        display: flex; }
        footer .footer-logo .update-our .inp .tex {
          margin-right: 3%; }
          footer .footer-logo .update-our .inp .tex .ft-inp {
            border: none;
            border-radius: 3px;
            width: 250px;
            height: 35px;
            color: #DA585C; }
        footer .footer-logo .update-our .inp button {
          border: none;
          width: 35px;
          height: 35px;
          border-radius: 3px; }
          footer .footer-logo .update-our .inp button img {
            padding: 5px; }

@media (max-width: 992px) {
  .slideOfYou .menu .menu-between {
    visibility: hidden; }
    .slideOfYou .menu .menu-between .between-child-fix {
      position: absolute; }
  .slideOfYou .menu ._item {
    visibility: visible;
    position: relative;
    float: right;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    top: 70px;
    right: 5px; }
    .slideOfYou .menu ._item .layer1 {
      position: absolute;
      top: -51px;
      left: 145px; }
      .slideOfYou .menu ._item .layer1 i {
        color: white; }
    .slideOfYou .menu ._item .layer2 {
      visibility: hidden;
      position: absolute;
      top: -20px;
      left: 105px; }
      .slideOfYou .menu ._item .layer2 ul li {
        list-style: none; }
        .slideOfYou .menu ._item .layer2 ul li a {
          color: white;
          font-size: 16px;
          float: right;
          text-decoration: none; }
    .slideOfYou .menu ._item:hover .layer2 {
      visibility: visible; }
  .slideOfYou .menu .menu-right {
    position: absolute;
    opacity: 0; }
  .slideOfYou .sendUs {
    font-size: 50px; }
  .slideOfYou .yourRequest {
    font-size: 50px; }

  main .main1 {
    margin-top: 4%;
    margin-bottom: 8%; }
    main .main1 .chan .xoay {
      width: 10%; }
    main .main1 .chan span {
      font-size: 25px; }
    main .main1 .weOffer {
      font-size: 10px; }
  main .main2 {
    opacity: 0;
    position: absolute; }
    main .main2 .anh3 {
      position: absolute; }
    main .main2 .anh4 {
      position: absolute; }
  main .main3 .img3 img {
    width: 120%; }
  main .main3 .tex3 {
    padding-left: 15%;
    margin-left: 0%;
    margin-right: 11%; }
    main .main3 .tex3 h3 {
      font-size: 20px; }
    main .main3 .tex3 span {
      font-size: 10px; }
    main .main3 .tex3 .price .hr h5 {
      font-size: 13px;
      top: 5px; }
    main .main3 .tex3 .price .hr img {
      width: 80px; }
    main .main3 .tex3 .price h3 {
      padding-top: 5px;
      font-size: 13px; }
    main .main3 .tex3 .fish {
      margin-top: 3%; }
      main .main3 .tex3 .fish img {
        width: 50%; }
  main .main4 {
    margin-top: 100px;
    margin-bottom: 30px; }
    main .main4 .tex4 {
      padding-left: 10%;
      margin-left: 3%;
      margin-right: 16%; }
      main .main4 .tex4 h3 {
        font-size: 20px; }
      main .main4 .tex4 span {
        font-size: 10px; }
      main .main4 .tex4 .price .hr h5 {
        font-size: 13px;
        top: 5px; }
      main .main4 .tex4 .price .hr img {
        width: 80px; }
      main .main4 .tex4 .price h3 {
        padding-top: 5px;
        font-size: 13px; }
      main .main4 .tex4 .fish {
        margin-top: 3%; }
        main .main4 .tex4 .fish img {
          width: 50%; }
    main .main4 .img4 img {
      width: 120%; }
  main .b-seller {
    font-size: 25px; }
    main .b-seller .xoay {
      width: 10%; }
  main .main5 .cate .prod-delete {
    opacity: 0;
    position: absolute; }
  main .main5 .cate .prod {
    width: 50%; }
    main .main5 .cate .prod .prod-child1 {
      top: 5px;
      right: 5px; }
    main .main5 .cate .prod .prod-child2 {
      width: 100%; }
    main .main5 .cate .prod .add-cart {
      width: 100%; }
      main .main5 .cate .prod .add-cart .tex {
        padding-left: 2%;
        width: 50%; }
        main .main5 .cate .prod .add-cart .tex h3 {
          font-size: 15px;
          margin-bottom: 0px; }
        main .main5 .cate .prod .add-cart .tex span {
          font-size: 15px; }
      main .main5 .cate .prod .add-cart .btn-cart {
        width: 40%;
        padding-right: 4%; }
        main .main5 .cate .prod .add-cart .btn-cart .btn-flex {
          width: 120px;
          height: 40px; }
          main .main5 .cate .prod .add-cart .btn-cart .btn-flex h4 {
            font-size: 10px; }
  main .main6 .img6 {
    width: 250%; }
    main .main6 .img6 .img6-1 {
      width: 100%; }
  main .main6 .tex6 img {
    width: 13%;
    padding-top: 5%; }
  main .main6 .tex6 span {
    font-size: 10px;
    margin-top: 20%; }
  main .main6 .tex6 h3 {
    font-size: 12px; }
  main .main6 .tex6 h4 {
    font-size: 10px; }
  main .main6 .tex6 .icons-main6 img {
    width: 5%; }

  footer {
    height: 120px; }
    footer .footer-logo {
      padding-top: 14%; }
      footer .footer-logo .kity-shop {
        padding-top: 0%; }
        footer .footer-logo .kity-shop .logo {
          margin-top: 40px; }
          footer .footer-logo .kity-shop .logo img {
            width: 80%;
            height: 65%;
            display: block; }
        footer .footer-logo .kity-shop .icons {
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center; }
          footer .footer-logo .kity-shop .icons img {
            width: 20px;
            height: 16px;
            padding-left: 4px; }
      footer .footer-logo .about-us {
        width: 31%;
        padding-top: 7%;
        margin-left: 10%; }
        footer .footer-logo .about-us .top {
          opacity: 0;
          font-size: 0px; }
        footer .footer-logo .about-us .text1 {
          font-size: 12px;
          font-weight: lighter; }
      footer .footer-logo .quick-link {
        width: 1%;
        opacity: 0;
        padding-top: 0%; }
        footer .footer-logo .quick-link .top {
          font-size: 0px; }
        footer .footer-logo .quick-link .text2 {
          font-size: 0px; }
      footer .footer-logo .update-our {
        width: 40%;
        padding-top: 8%;
        margin-left: 20px; }
        footer .footer-logo .update-our span {
          visibility: hidden;
          font-size: 1px; }
        footer .footer-logo .update-our .inp .tex .ft-inp {
          width: 125px;
          height: 20px;
          font-size: 10px; }
        footer .footer-logo .update-our .inp button {
          margin-top: 4px;
          width: 20px;
          height: 20px; }
          footer .footer-logo .update-our .inp button img {
            width: 15px;
            height: 15px;
            padding: 2px; } }
@media (max-width: 576px) {
  .active {
    background-color: #4CAF50;
    color: white; }

  .slideOfYou .menu {
    display: flex; }
    .slideOfYou .menu .menu-between {
      visibility: hidden; }
    .slideOfYou .menu .between-child-fix {
      position: absolute; }
    .slideOfYou .menu ._item {
      visibility: visible;
      position: relative;
      float: right;
      color: white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      top: 70px;
      right: 5px; }
      .slideOfYou .menu ._item .layer1 {
        position: absolute;
        top: -58px;
        left: 90px; }
        .slideOfYou .menu ._item .layer1 i {
          color: white; }
      .slideOfYou .menu ._item .layer2 {
        visibility: hidden;
        position: absolute;
        top: -33px;
        left: 58px; }
        .slideOfYou .menu ._item .layer2 ul li {
          list-style: none; }
          .slideOfYou .menu ._item .layer2 ul li a {
            color: white;
            font-size: 14px;
            float: right;
            text-decoration: none; }
      .slideOfYou .menu ._item:hover .layer2 {
        visibility: visible; }
    .slideOfYou .menu .menu-right {
      position: absolute;
      opacity: 0; }
  .slideOfYou .sendUs {
    font-size: 25px; }
  .slideOfYou .yourRequest {
    font-size: 25px; }

  main .main1 {
    margin-top: 4%;
    margin-bottom: 8%; }
    main .main1 .chan .xoay {
      width: 13%; }
    main .main1 .chan span {
      font-size: 25px; }
    main .main1 .weOffer {
      font-size: 10px; }
  main .main2 {
    opacity: 0;
    position: absolute; }
    main .main2 .anh2 {
      position: absolute; }
    main .main2 .anh3 {
      position: absolute; }
    main .main2 .anh4 {
      position: absolute; }
  main .main3 {
    margin-top: 50px; }
    main .main3 .img3 img {
      width: 120%;
      padding-top: 45px; }
    main .main3 .tex3 {
      padding-left: 15%;
      margin-left: 0%;
      margin-right: 11%; }
      main .main3 .tex3 h3 {
        font-size: 20px; }
      main .main3 .tex3 span {
        font-size: 10px; }
      main .main3 .tex3 .price .hr h5 {
        font-size: 13px;
        top: 5px; }
      main .main3 .tex3 .price .hr img {
        width: 80px; }
      main .main3 .tex3 .price h3 {
        padding-top: 5px;
        font-size: 13px; }
      main .main3 .tex3 .fish {
        margin-top: 3%; }
        main .main3 .tex3 .fish img {
          width: 50%; }
  main .main4 {
    margin-top: 50px;
    margin-bottom: 50px; }
    main .main4 .tex4 {
      padding-left: 10%;
      margin-left: 3%;
      margin-right: 16%; }
      main .main4 .tex4 h3 {
        font-size: 20px; }
      main .main4 .tex4 span {
        font-size: 10px; }
      main .main4 .tex4 .price .hr h5 {
        font-size: 13px;
        top: 5px; }
      main .main4 .tex4 .price .hr img {
        width: 80px; }
      main .main4 .tex4 .price h3 {
        padding-top: 5px;
        font-size: 13px; }
      main .main4 .tex4 .fish {
        margin-top: 3%; }
        main .main4 .tex4 .fish img {
          width: 50%; }
    main .main4 .img4 img {
      width: 120%;
      padding-top: 40px; }
  main .b-seller {
    font-size: 25px; }
    main .b-seller .xoay {
      width: 10%; }
  main .main5 .cate .prod-delete {
    opacity: 0;
    position: absolute; }
    main .main5 .cate .prod-delete .add-cart {
      margin-bottom: 0px; }
  main .main5 .cate .prod {
    width: 50%; }
    main .main5 .cate .prod .prod-child1 {
      top: 5px;
      right: 5px; }
    main .main5 .cate .prod .prod-child2 {
      width: 100%; }
    main .main5 .cate .prod .add-cart {
      width: 100%;
      margin-bottom: 0px; }
      main .main5 .cate .prod .add-cart .tex {
        padding-left: 2%;
        width: 50%; }
        main .main5 .cate .prod .add-cart .tex h3 {
          font-size: 10px;
          margin-bottom: 0px; }
        main .main5 .cate .prod .add-cart .tex span {
          font-size: 10px; }
      main .main5 .cate .prod .add-cart .btn-cart {
        width: 40%;
        padding-right: 4%; }
        main .main5 .cate .prod .add-cart .btn-cart .btn-flex {
          width: 70px;
          height: 30px; }
          main .main5 .cate .prod .add-cart .btn-cart .btn-flex h4 {
            font-size: 7px;
            padding-left: 1px; }
          main .main5 .cate .prod .add-cart .btn-cart .btn-flex img {
            padding-left: 1px;
            width: 10px;
            height: 10px; }
  main .main6 .img6 {
    width: 250%; }
    main .main6 .img6 .img6-1 {
      width: 100%; }
  main .main6 .tex6 img {
    width: 13%;
    padding-top: 5%; }
  main .main6 .tex6 span {
    font-size: 10px;
    margin-top: 20%; }
  main .main6 .tex6 h3 {
    font-size: 12px; }
  main .main6 .tex6 h4 {
    font-size: 10px; }
  main .main6 .tex6 .icons-main6 img {
    width: 5%; }

  footer {
    height: 120px; }
    footer .footer-logo {
      padding-top: 12%; }
      footer .footer-logo .kity-shop {
        padding-top: 0%; }
        footer .footer-logo .kity-shop .logo {
          margin-top: 20px; }
          footer .footer-logo .kity-shop .logo img {
            width: 80%;
            height: 65%;
            display: block; }
        footer .footer-logo .kity-shop .icons {
          height: 15px;
          display: flex;
          justify-content: center;
          align-items: center; }
          footer .footer-logo .kity-shop .icons img {
            width: 10px;
            height: 10px;
            padding-left: 1px; }
      footer .footer-logo .about-us {
        width: 30%;
        padding-top: 5%;
        margin-left: 10%; }
        footer .footer-logo .about-us .top {
          opacity: 0;
          font-size: 0px; }
        footer .footer-logo .about-us .text1 {
          font-size: 8px;
          font-weight: lighter; }
      footer .footer-logo .quick-link {
        width: 1%;
        opacity: 0;
        padding-top: 0%; }
        footer .footer-logo .quick-link .top {
          font-size: 0px; }
        footer .footer-logo .quick-link .text2 {
          font-size: 0px; }
      footer .footer-logo .update-our {
        width: 30%;
        padding-top: 0%; }
        footer .footer-logo .update-our span {
          visibility: hidden;
          font-size: 1px; }
        footer .footer-logo .update-our .inp .tex .ft-inp {
          width: 80px;
          height: 20px;
          font-size: 10px; }
        footer .footer-logo .update-our .inp button {
          margin-top: 4px;
          width: 20px;
          height: 20px; }
          footer .footer-logo .update-our .inp button img {
            width: 15px;
            height: 15px;
            padding: 2px; } }

/*# sourceMappingURL=style.css.map */
