* {
    margin: 0;
    padding: 0;
}

$font-nunito: 'Nunito',
sans-serif;
$font-bebas: 'Bebas Neue',
cursive;
$color-red:#da585c;
.slideOfYou {
    position: relative;
    z-index: 1;
    .menu {
        z-index: 2;
        position: absolute;
        display: flex;
        width: 100%;
        .menu-logo {
            width: 18%;
            height: 18%;
        }
        .menu-between {
            width: 41%;
            display: flex;
            margin-left: 10%;
            padding-left: 10%;
            padding-top: 4%;
            .between-child {
                margin-left: 18%;
                font-size: 18px;
                font-family: $font-nunito;
                // font-weight: ;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                        text-decoration-color: $color-red;
                    }
                }
            }
        }
        .menu-right {
            width: 20%;
            padding-top: 4%;
            margin-left: 15%;
            img {
                font-size: 32px;
                padding-left: 10%;
            }
        }
    }
    .sendUs {
        position: absolute;
        z-index: 2;
        color: $color-red;
        margin-top: 27%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-bebas;
    }
    .yourRequest {
        z-index: 2;
        position: absolute;
        color: white;
        margin-top: 20%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-bebas;
    }
}

header {
    background-image: url('../../public/image/index/header.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 93%;
    width: 100%;
    height: 600px;
    .menu {
        display: flex;
        width: 100%;
        .menu-logo {
            width: 18%;
            height: 18%;
        }
        .menu-between {
            width: 41%;
            display: flex;
            padding-left: 20%;
            padding-top: 4%;
            .between-child {
                margin-left: 10%;
                font-size: 18px;
                font-family: $font-nunito;
                // font-weight: ;
                a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                        text-decoration: underline;
                        transition: 0.5s;
                        text-decoration-color: $color-red;
                    }
                }
            }
        }
        .menu-right {
            width: 20%;
            padding-top: 4%;
            margin-left: -3%;
            img {
                font-size: 32px;
                padding-left: 10%;
            }
        }
    }
    .sendUs {
        color: $color-red;
        margin-top: 5%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-bebas;
    }
    .yourRequest {
        color: white;
        // margin-top: 1%;
        margin-left: 9%;
        font-size: 100px;
        font-family: $font-bebas;
    }
}

// main
main {
    // main1
    .main1 {
        margin-top: 6%;
        margin-bottom: 10%;
        .chan {
            display: flex;
            font-family: $font-bebas;
            font-size: 40px;
            justify-content: center;
            .xoay {
                transform: rotate(-10deg);
            }
            .weCan {
                padding-top: 3%;
            }
        }
        .weOffer {
            width: 100%;
            display: block;
            text-align: center;
            font-family: $font-nunito;
            font-size: 15px;
        }
    }
    // main2
    .main2 {
        display: flex;
        justify-content: center;
        // width: 100%;
        img {
            margin: 0px 15px 0px 15px;
        }
        .anh1 {
            position: relative;
            .bl {
                position: absolute;
                z-index: 1;
            }
            .food {
                position: absolute;
                top: 50px;
                left: 40px;
                width: 77%;
                z-index: 2;
                .food-header {
                    display: flex;
                    margin-top: 33%;
                    img {
                        width: 32px;
                        height: 32px;
                        margin-left: 0px;
                        margin-right: 5px;
                    }
                    h3 {
                        color: $color-red;
                        font-family: $font-nunito;
                        font-size: 30px;
                    }
                }
                span {
                    margin-top: 5px;
                    font-family: $font-nunito;
                    font-size: 15px;
                    color: white;
                }
                .food-footer {
                    display: flex;
                    margin-top: 30%;
                    h2 {
                        font-size: 20px;
                        font-family: $font-nunito;
                        font-weight: bold;
                        color: white;
                    }
                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
        .anh2 {
            position: relative;
            h3 {
                position: absolute;
                bottom: 8px;
                left: 55px;
                font-size: 25px;
                font-weight: bold;
                font-family: $font-nunito;
                color: white;
            }
        }
        .anh3 {
            position: relative;
            h3 {
                position: absolute;
                bottom: 8px;
                left: 60px;
                font-size: 25px;
                font-weight: bold;
                font-family: $font-nunito;
                color: white;
            }
        }
        .anh4 {
            position: relative;
            h3 {
                position: absolute;
                bottom: 8px;
                left: 95px;
                font-size: 25px;
                font-weight: bold;
                font-family: $font-nunito;
                color: white;
            }
        }
    }
    //main3
    .main3 {
        display: flex;
        width: 100%;
        margin-top: 120px;
        .img3 {
            width: 50%;
        }
        .tex3 {
            width: 50%;
            margin-left: 6%;
            margin-right: 17%;
            padding-top: 5%;
            h3 {
                margin-top: 5%;
                font-family: $font-nunito;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            span {
                margin-top: 5%;
                font-size: 15px;
                font-family: $font-nunito;
                display: block;
                text-align: center;
            }
            .price {
                margin-top: 5%;
                display: flex;
                justify-content: center;
                .hr {
                    margin-top: 5%;
                    position: relative;
                    h5 {
                        position: absolute;
                    }
                    img {
                        height: 4px;
                        width: 116px;
                    }
                }
                h3 {
                    color: $color-red;
                    font-family: $font-nunito;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .fish {
                position: relative;
                margin-top: 5%;
                img {
                    margin-left: 20%;
                    margin-top: 5%;
                }
                span {
                    top: 35px;
                    left: 150px;
                    position: absolute;
                    transform: rotate(-15deg);
                    font-family: $font-nunito;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
    //main4
    .main4 {
        width: 100%;
        display: flex;
        margin-top: 120px;
        margin-bottom: 120px;
        .tex4 {
            // width: 50%;
            // margin-left: 6%;
            // margin-right: 6%;
            width: 50%;
            margin-left: 6%;
            margin-right: 17%;
            padding-top: 5%;
            h3 {
                margin-top: 5%;
                font-family: $font-nunito;
                font-size: 30px;
                font-weight: bold;
                text-align: center;
            }
            span {
                margin-top: 5%;
                font-size: 15px;
                font-family: $font-nunito;
                display: block;
                text-align: center;
            }
            .price {
                margin-top: 5%;
                display: flex;
                justify-content: center;
                .hr {
                    margin-top: 5%;
                    position: relative;
                    h5 {
                        position: absolute;
                    }
                    img {
                        height: 4px;
                        width: 116px;
                    }
                }
                h3 {
                    color: $color-red;
                    font-family: $font-nunito;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .fish {
                position: relative;
                margin-top: 5%;
                img {
                    margin-left: 20%;
                    margin-top: 5%;
                }
                span {
                    top: 35px;
                    left: 150px;
                    position: absolute;
                    transform: rotate(-15deg);
                    font-family: $font-nunito;
                    font-size: 20px;
                    font-weight: bold;
                    color: white;
                }
            }
        }
        .img4 {
            width: 50%;
            img {
                float: right;
            }
        }
    }
    .b-seller {
        display: flex;
        font-family: $font-bebas;
        font-size: 40px;
        justify-content: center;
        .xoay {
            transform: rotate(-10deg);
        }
        .weCan {
            padding-top: 3%;
        }
    }
    //main5
    .main5 {
        margin: 6%;
        .cate {
            display: flex;
            justify-content: center;
            .prod {
                // margin: 0% 5% 0% 5%;
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                .prod-child1 {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
                .add-cart {
                    display: flex;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    .tex {
                        width: 50%;
                        // padding-top: 10px;
                        h3 {
                            font-size: 18px;
                            font-family: $font-nunito;
                        }
                        span {
                            font-size: 18px;
                            font-family: $font-nunito;
                            color: $color-red;
                            font-weight: bold;
                        }
                    }
                    .btn-cart {
                        width: 50%;
                        .btn-flex {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 166px;
                            height: 53px;
                            border: none;
                            background-color: $color-red;
                            border-radius: 5px;
                            h4 {
                                padding-top: 10px;
                                font-family: $font-nunito;
                                font-size: 16px;
                                display: inline;
                                color: white;
                            }
                            img {
                                padding-left: 2px;
                                width: 20px;
                                height: 17px;
                                color: white;
                            }
                        }
                    }
                }
            }
            .prodImg {
                margin-left: 5px;
                margin-right: 5px;
                position: relative;
                .prodImg4 {
                    z-index: 1;
                    position: absolute;
                    top: -12px;
                    left: 58px;
                }
                .prodImg3 {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                }
                .prodImg2 {
                    top: 8px;
                    left: 48px;
                    position: absolute;
                }
                .add-cart {
                    display: flex;
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 25px;
                    .tex {
                        width: 50%;
                        // padding-top: 10px;
                        h3 {
                            font-size: 18px;
                            font-family: $font-nunito;
                        }
                        span {
                            font-size: 18px;
                            font-family: $font-nunito;
                            color: $color-red;
                            font-weight: bold;
                        }
                    }
                    .btn-cart {
                        width: 50%;
                        .btn-flex {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 166px;
                            height: 53px;
                            border: none;
                            background-color: $color-red;
                            border-radius: 5px;
                            h4 {
                                padding-top: 10px;
                                font-family: $font-nunito;
                                font-size: 16px;
                                display: inline;
                                color: white;
                            }
                            img {
                                padding-left: 2px;
                                width: 20px;
                                height: 17px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
    //main6
    .main6 {
        display: flex;
        margin: 12% 10% 6% 10%;
        .img6 {
            position: relative;
            .img6-1 {
                position: absolute;
            }
        }
        .tex6 {
            margin-left: 5%;
            img {
                display: block;
            }
            span {
                font-family: $font-nunito;
                font-size: 16px;
                display: block;
                margin-top: 30%;
            }
            h3 {
                margin-top: 10%;
                font-family: $font-nunito;
                font-size: 18px;
                color: $color-red;
                font-weight: bold;
            }
            h4 {
                margin-top: -1%;
                font-family: $font-nunito;
                font-size: 16px;
            }
            .icons-main6 {
                display: flex;
                img {
                    margin-right: 2%;
                }
            }
        }
    }
}

//footer
footer {
    width: 100%;
    height: 100px;
    .bg {
        position: absolute;
        z-index: -1;
        width: 100%;
    }
    .footer-logo {
        padding-top: 13%;
        display: flex;
        .kity-shop {
            width: 20%;
            padding-top: 6%;
            margin-left: 5%;
            .logo {
                width: 75%;
                height: 50%;
                padding-left: 20%;
            }
            .icons {
                text-align: center;
            }
        }
        .about-us {
            width: 20%;
            padding-top: 5%;
            margin-left: 5%;
            .top {
                font-family: $font-nunito;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .text1 {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
            }
        }
        .quick-link {
            width: 20%;
            padding-top: 5%;
            margin-left: 5%;
            .top {
                font-family: $font-nunito;
                font-size: 18px;
                color: white;
                font-weight: bold;
            }
            .text2 {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
            }
        }
        .update-our {
            width: 26%;
            padding-top: 8%;
            span {
                font-family: $font-nunito;
                font-size: 16px;
                color: white;
                font-weight: bold;
            }
        }
    }
}