* {
  margin: 0px;
  padding: 0px; }

._background {
  width: 100%;
  height: 100vh;
  background: #F0F3F3;
  background-image: url("./../../public/image/login/bgtron.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  ._background .cont {
    display: flex;
    background-color: white;
    width: 80%;
    border-radius: 10px; }
    ._background .cont .hello {
      width: 40%;
      background-color: #DC686B;
      background-image: url(../../public/image/login/chanmeo-01.png);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 10px 0px 0px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      ._background .cont .hello .logo {
        position: absolute;
        top: 0px;
        left: 0px; }
      ._background .cont .hello ._hello {
        text-align: center; }
        ._background .cont .hello ._hello h1 {
          font-size: 48px;
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          color: white; }
        ._background .cont .hello ._hello span {
          display: block;
          color: white;
          margin-top: 10%;
          margin-bottom: 15%;
          font-size: 18px; }
        ._background .cont .hello ._hello .sign-in-hello {
          margin-top: 3%;
          margin-bottom: 5%;
          background-color: white;
          height: 57px;
          width: 218px;
          border: none;
          border-radius: 3px;
          font-family: "Nunito", sans-serif;
          color: #DC686B;
          font-size: 24px;
          font-weight: bold; }
    ._background .cont .login {
      width: 100%; }
      ._background .cont .login .form-login {
        width: 60%;
        text-align: center;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%; }
        ._background .cont .login .form-login h3 {
          font-size: 48px;
          font-family: "Nunito", sans-serif;
          color: #DC686B; }
        ._background .cont .login .form-login h5 {
          padding-top: 2%;
          font-size: 18px;
          font-family: "Nunito", sans-serif; }
        ._background .cont .login .form-login ._col-2 {
          display: flex; }
          ._background .cont .login .form-login ._col-2 .inp-right {
            padding-top: 3%;
            margin-left: 2%; }
            ._background .cont .login .form-login ._col-2 .inp-right img {
              position: absolute;
              padding: 18px;
              text-align: center; }
            ._background .cont .login .form-login ._col-2 .inp-right input {
              background-color: #fbeeef;
              border: 1px solid #f8e1e3;
              border-radius: 3px;
              width: 100%;
              height: 58px;
              padding-left: 60px;
              font-weight: bold;
              font-family: "Nunito", sans-serif;
              font-size: 16px; }
        ._background .cont .login .form-login .inp {
          padding-top: 3%; }
          ._background .cont .login .form-login .inp img {
            position: absolute;
            padding: 18px;
            text-align: center; }
          ._background .cont .login .form-login .inp input {
            background-color: #fbeeef;
            border: 1px solid #f8e1e3;
            border-radius: 3px;
            width: 100%;
            height: 58px;
            padding-left: 60px;
            font-weight: bold;
            font-family: "Nunito", sans-serif;
            font-size: 16px; }
        ._background .cont .login .form-login .forgot-pass {
          background-color: white;
          margin-top: 10%;
          height: 28px;
          width: 186px;
          border: none;
          border-radius: 3px;
          border-bottom: 2px solid #fae8e8;
          font-family: "Nunito", sans-serif;
          font-size: 14px; }
        ._background .cont .login .form-login .form-check {
          text-align: left;
          margin-top: 2%;
          margin-bottom: 2%; }
          ._background .cont .login .form-login .form-check .check-b-your {
            font-size: 16px;
            font-weight: bold;
            font-family: "Nunito", sans-serif;
            width: 5%;
            height: 72%; }
        ._background .cont .login .form-login .sign-in {
          margin-top: 3%;
          margin-bottom: 5%;
          background-color: #DC686B;
          height: 57px;
          width: 218px;
          border: none;
          border-radius: 3px;
          font-family: "Nunito", sans-serif;
          color: white;
          font-size: 24px;
          font-weight: bold; }

@media (max-width: 992px) {
  ._background .cont .hello {
    width: 100%;
    height: 100%; }
    ._background .cont .hello ._hello h1 {
      font-size: 25px; }
    ._background .cont .hello ._hello span {
      font-size: 13px; }
    ._background .cont .hello ._hello .sign-in-hello {
      height: 41px;
      width: 159px;
      font-size: 24px;
      border-radius: 5px; }
    ._background .cont .hello .logo {
      width: 35%;
      height: 19%; }
  ._background .cont .login .logo {
    width: 15%; }
  ._background .cont .login .form-login {
    width: 88%; }
    ._background .cont .login .form-login h3 {
      font-size: 40px;
      font-weight: bold; }
    ._background .cont .login .form-login .icon img {
      width: 13%; }
    ._background .cont .login .form-login h5 {
      font-size: 12px; }
    ._background .cont .login .form-login ._col-2 {
      display: flex; }
      ._background .cont .login .form-login ._col-2 .inp-right {
        padding-top: 3%;
        margin-left: 2%; }
        ._background .cont .login .form-login ._col-2 .inp-right img {
          padding: 8px 8px 0px 8px;
          width: 8%;
          height: 6%; }
        ._background .cont .login .form-login ._col-2 .inp-right input {
          height: 38px;
          padding-left: 35px;
          font-size: 13px; }
    ._background .cont .login .form-login .inp img {
      padding: 8px 8px 0px 8px;
      width: 8%;
      height: 6%; }
    ._background .cont .login .form-login .inp input {
      height: 38px;
      padding-left: 35px;
      font-size: 13px; }
    ._background .cont .login .form-login .forgot-pass {
      font-size: 12px;
      width: 138px; }
    ._background .cont .login .form-login .sign-in {
      height: 41px;
      width: 159px;
      font-size: 24px;
      border-radius: 5px; } }
@media (max-width: 572px) {
  ._background .cont .hello .logo {
    width: 20%;
    height: 19%; }
  ._background .cont .hello ._hello {
    margin-top: 16%; }
    ._background .cont .hello ._hello .sign-in-hello {
      height: 30px;
      width: 90px;
      font-size: 16px; }
  ._background .cont .login .form-login h3 {
    font-size: 30px; }
  ._background .cont .login .form-login .inp img {
    padding: 8px 8px 0px 8px;
    width: 10%;
    height: 8%; }
  ._background .cont .login .form-login .form-check .form-check-label {
    font-size: 12px; }
  ._background .cont .login .form-login .sign-in {
    height: 30px;
    width: 90px;
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
